/*! purgecss start ignore */
@tailwind base;
@tailwind components;
section{@apply flex flex-col items-center justify-center py-15;}
input{@apply w-full px-5 py-3 shadow-xs outline-none focus:shadow-outline-gray;}
textarea{@apply w-full px-5 py-3 border-none shadow-xs outline-none focus:shadow-outline-gray;}
.bullseye{@apply flex flex-col items-center justify-center;}
.main-heading{@apply text-4xl font-extrabold leading-10 tracking-tight text-writing-black sm:text-5xl sm:leading-none md:text-6xl;}
.sub-heading{@apply mb-2 text-2xl font-medium;}
.card { min-width: 18rem;}
.slider::-webkit-scrollbar {width: 12px;}
.slider::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); border-radius: 10px;}
.slider::-webkit-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); }
/*! purgecss end ignore */
@tailwind utilities;
